alembic==1.8.1
anyio==3.6.1
attrs==19.3.0
bcrypt==3.1.7
blinker==1.4
cached-property==1.5.1
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
Click==7.0
colorama==0.4.3
cryptography==2.8
fastapi==0.85.0
greenlet==1.1.3
h11==0.13.0
idna==3.4
inflect==6.0.0
Mako==1.2.3
MarkupSafe==2.1.1
psycopg2-binary==2.9.3
pycparser==2.21
pydantic==1.10.2
python-dotenv==0.21.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlparse==0.4.3
sqltap==0.3.11
starlette==0.20.4
typing-extensions==4.3.0
uvicorn==0.18.3
Werkzeug==2.2.2
